* {
    border: none;
    border-radius: 0;
    font-family: "M PLUS 1 CODE", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20;
    min-height: 24px;
    padding: 0 0px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.95);
    border-bottom: 0px solid rgba(17, 17, 27, 0.95);
    color: white;
}

tooltip {
    background: rgba(30, 30, 46, 0.5);
    border: 1px solid rgba(245, 194, 231, 0.5);
}

#workspaces button {
    padding: 0 2px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: rgba(205, 214, 244, 0.5);
}

#workspaces button.urgent {
    background: rgba(235, 160, 172, 0.5);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery, #clock, #cpu, #memory, #network {
    padding: 0 4px;
}
