* {
    border: none;
    border-radius: 0;
    font-family: "M+ 1mn", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 20px;
    padding: 0 0px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

#workspaces button {
    padding: 0 1px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #64727D;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#clock, #cpu, #memory, #network {
    padding: 0 2px;
}
